In [216]:
# importing modules and relevant data set

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # Visualization
import seaborn as sns
import os

df = pd.read_csv('auction.csv')
df.head()

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price,item,auction_type
0,1638843936,500.0,0.478368,kona-java,181.0,500.0,1625.0,Cartier wristwatch,7 day auction
1,1638843936,800.0,0.826389,doc213,60.0,500.0,1625.0,Cartier wristwatch,7 day auction
2,1638843936,600.0,3.761123,zmxu,7.0,500.0,1625.0,Cartier wristwatch,7 day auction
3,1638843936,1500.0,5.226377,carloss8055,5.0,500.0,1625.0,Cartier wristwatch,7 day auction
4,1638843936,1600.0,6.570625,jdrinaz,6.0,500.0,1625.0,Cartier wristwatch,7 day auction

##### The variables involved in the data set are as follows:

* **auctionid:** unique id for each auction
* **bid:** proxy bid placed by bidder
* **bidtime:** time bet is placed in relation to total auction length
* **bidder:** bidder username
* **biderrate:** bidder's rating on ebay
* **openbid:** opening bid priced by seller
* **item:** name of item
* **auction_type:** type of auction (3day, 5day, 7day)

##### First, we will begin with checking the dataset for null values

In [19]:
df.isnull().sum()

auctionid        0
bid              0
bidtime          0
bidder          16
bidderrate      11
openbid          0
price            0
item             0
auction_type     0
dtype: int64

In [24]:
print('Shape of entries with null values: ', df[(df.bidderrate.isnull()) | df.bidder.isnull()].shape)
df[(df.bidderrate.isnull()) | df.bidder.isnull()]

Shape of entries with null values:  (27, 9)

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price,item,auction_type
8049,8212140993,135.00,6.402141,mac_ranch,NaN,9.99,306.0,Xbox game console,7 day auction
8050,8212140993,145.00,6.402384,mac_ranch,NaN,9.99,306.0,Xbox game console,7 day auction
8189,8212190120,22.22,4.537535,Private,NaN,12.99,28.0,Xbox game console,7 day auction
8190,8212190120,15.00,4.769734,Private,NaN,12.99,28.0,Xbox game console,7 day auction
8191,8212190120,22.00,4.769815,Private,NaN,12.99,28.0,Xbox game console,7 day auction
8192,8212190120,22.72,6.738773,Private,NaN,12.99,28.0,Xbox game console,7 day auction
8193,8212190120,24.00,6.753611,Private,NaN,12.99,28.0,Xbox game console,7 day auction
8194,8212190120,25.00,6.857685,Private,NaN,12.99,28.0,Xbox game console,7 day auction
8195,8212190120,25.00,6.943333,Private,NaN,12.99,28.0,Xbox game console,7 day auction
8196,8212190120,28.00,6.989757,Private,NaN,12.99,28.0,Xbox game console,7 day auction
8197,8212190120,27.00,6.999931,Private,NaN,12.99,28.0,Xbox game console,7 day auction
9158,8213037774,90.00,6.559074,NaN,2.0,1.00,127.5,Xbox game console,7 day auction
9160,8213037774,95.00,6.657049,NaN,2.0,1.00,127.5,Xbox game console,7 day auction
9161,8213037774,100.00,6.657188,NaN,2.0,1.00,127.5,Xbox game console,7 day auction
9163,8213037774,105.00,6.665648,NaN,2.0,1.00,127.5,Xbox game console,7 day auction
9164,8213037774,110.00,6.665810,NaN,2.0,1.00,127.5,Xbox game console,7 day auction
9165,8213037774,115.00,6.665949,NaN,2.0,1.00,127.5,Xbox game console,7 day auction
9167,8213037774,120.00,6.684167,NaN,2.0,1.00,127.5,Xbox game console,7 day auction
9821,8213922989,77.00,2.458229,NaN,2.0,0.95,93.0,Xbox game console,3 day auction
9822,8213922989,80.00,2.458403,NaN,2.0,0.95,93.0,Xbox game console,3 day auction
9823,8213922989,90.00,2.458623,NaN,2.0,0.95,93.0,Xbox game console,3 day auction
9827,8213922989,93.00,2.971597,NaN,2.0,0.95,93.0,Xbox game console,3 day auction
9963,8214330322,55.00,6.244745,NaN,1.0,0.99,117.5,Xbox game console,7 day auction
9964,8214330322,60.00,6.245116,NaN,1.0,0.99,117.5,Xbox game console,7 day auction
9965,8214330322,70.00,6.245231,NaN,1.0,0.99,117.5,Xbox game console,7 day auction
10215,8214749544,60.00,5.038843,NaN,1.0,9.99,119.5,Xbox game console,7 day auction
10216,8214749544,65.00,5.038993,NaN,1.0,9.99,119.5,Xbox game console,7 day auction

#### There are 27 rows with null values, but in the grand scheme of things they will not affect the dataset, we will simply fill the null username with Private and fill missing biderrate with the mean value which is 32

In [39]:
df.bidder.fillna('Private', inplace=True)
df.bidderrate.fillna(32, inplace=True)

##### After the data is cleaned, we will begin by taking a look at the total unique values in each attribute

In [52]:
df.nunique()

auctionid         628
bid              1858
bidtime         10400
bidder           3387
bidderrate        301
openbid           109
price             318
item                3
auction_type        3
dtype: int64

##### The total number of auction is the most valuable data and we will try to derive more information from it, we would also like to find out if each type of aution only caters to a specific kind of item

In [198]:
#initializing secondary dataframe derived from original dataset to produce more detailed values
auctions_df = pd.DataFrame({
                'bid_count':df.groupby('auctionid').bid.count(),
                'opening_price':df.groupby('auctionid').openbid.mean(),
                'closing_price':df.groupby('auctionid').price.mean()
             })

In [199]:
def get_item(auctionid_input): 
    return df[df.auctionid == auctionid_input]['item'].unique()[0]
def get_auction_type(auctionid_input): 
    return df[df.auctionid == auctionid_input]['auction_type'].unique()[0]

# create new columns corresponding to auction id's item sold and auction type
auctions_df.reset_index(inplace=True)
auctions_df['profit'] = df_branch['closing_price'] - df_branch['opening_price']
auctions_df['item'] = df2['auctionid'].apply(get_item)
auctions_df['auction_type'] = df2['auctionid'].apply(get_auction_type)
# df2.set_index('auctionid', inplace=True)
# df2.drop(['index'], axis=1, inplace=True)

## Using the original dataframe, we create a new branch depicting information of each individual auctionid

In [200]:
auctions_df.head(10)

,auctionid,bid_count,opening_price,closing_price,profit,item,auction_type
0,1638843936,7,500.0,1625.00,1125.00,Cartier wristwatch,7 day auction
1,1638844284,2,200.0,500.00,300.00,Cartier wristwatch,7 day auction
2,1638844464,16,300.0,740.00,440.00,Cartier wristwatch,7 day auction
3,1638844729,11,225.0,320.00,95.00,Cartier wristwatch,7 day auction
4,1638893549,5,99.0,177.50,78.50,Cartier wristwatch,3 day auction
5,1638917885,13,25.0,227.50,202.50,Cartier wristwatch,7 day auction
6,1639226378,12,495.0,1725.00,1230.00,Cartier wristwatch,7 day auction
7,1639253454,2,250.0,255.00,5.00,Cartier wristwatch,7 day auction
8,1639309309,27,1.0,374.99,373.99,Cartier wristwatch,7 day auction
9,1639323228,8,1.0,185.00,184.00,Cartier wristwatch,7 day auction

##### More insight is obtained by sectioning into different auction types and item to see the individual performances of different types of items in different types of auction

In [213]:
auctions_visualize = auctions_df.groupby(['auction_type', 'item'])[['bid_count', 'opening_price', 'closing_price', 'profit',
       'item', 'auction_type']].mean()
auctions_visualize

                                   bid_count  opening_price  closing_price  \
auction_type  item
3 day auction Cartier wristwatch   13.888889     189.719444     630.856667
              Palm Pilot M515 PDA  12.800000     113.110000     223.085895
              Xbox game console    15.914286      43.008857     118.426571
5 day auction Cartier wristwatch   16.904762     309.283333     864.079048
              Palm Pilot M515 PDA  16.092593      98.481296     229.873148
              Xbox game console    18.714286      46.905238     139.052381
7 day auction Cartier wristwatch   13.896907     272.215670     936.069278
              Palm Pilot M515 PDA  19.752577      53.771368     231.800825
              Xbox game console    20.010753      36.217419     134.576989

                                       profit
auction_type  item
3 day auction Cartier wristwatch   441.137222
              Palm Pilot M515 PDA  109.975895
              Xbox game console     75.417714
5 day auction Cartier wristwatch   554.795714
              Palm Pilot M515 PDA  131.391852
              Xbox game console     92.147143
7 day auction Cartier wristwatch   663.853608
              Palm Pilot M515 PDA  178.029457
              Xbox game console     98.359570

In [ ]:
f, ax = plt.subplots(1, 1, figsize=(11, 6))
g = sns.displot(
        data = auctions_df,
        x = 'bid_count',
        color = '#55807a'
    )

###### TODO: Perform visualiation of auctions_df 
###### TODO: Find out how to determmine when a bidder wins an auction